$main-color: #b92cb9;
$main-color-light: #eac0ea;
$main-color-extra-light: #f8eaf8;

$secondary-color: #9275d9;
$secondary-color-light: #ded6f4;
$secondary-color-extra-light: #f4f1fb;

$black: #313131;
$gray: #888;
$gray-light: #CCC;
